@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: white;

    font-family: "Poppins", sans-serif;

    --blue: #5271ff;
    --dark-blue: #170c47;
    --yellow-doff: #e6ff84;
    --grey: #b9b9b9;
    --soft-grey: #cacaca;
    --light-grey: #eeeeee;
}

body {
    font-size: 1.6rem;

    background-color: var(--dark-blue);
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6.4rem;
}

h3 {
    font-size: 4.8rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 3.8rem;
}

h6 {
    font-size: 2.8rem;
}

p {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

.limit-width {
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
    }

    h4 {
        font-size: 3.2rem;
    }

    h5 {
        font-size: 2rem;
    }

    h6 {
    }

    .limit-width {
        padding: 30px;
    }
}

.btn {
    display: inline-block;
    padding: 17.5px 54px;
    background-color: var(--yellow-doff);
    color: var(--dark-blue);
    border-radius: 40px;
}

nav .desktop {
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 53px 0;

    list-style: none;

    li:nth-child(2) {
        margin-left: auto;
    }

    li:nth-child(5) {
        margin-right: auto;
    }

    h4 {
        font-weight: bold;
    }

    a {
        font-size: 1.8rem;
        font-weight: bold;
        color: white;
    }

    a:hover {
        color: var(--yellow-doff);
    }

    li:nth-child(6) a {
        color: var(--dark-blue);
    }

    li:nth-child(6) a:hover {
        color: var(--dark-blue);
    }
}

nav .mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    nav .mobile {
        list-style: none;
        display: flex;
        padding: 26px 30px;
        align-items: center;
        gap: 20px;

        i {
            font-size: 21px;
        }

        li:nth-child(2) {
            margin-left: auto;
        }
    }

    nav .desktop {
        display: none;
    }
}

#blob {
    margin-left: auto;
    max-width: 460px;
    width: 40%;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 0 22px #312272, 0 0 0 44px #241660;
    background-color: var(--yellow-doff);
    border-radius: 50%;
}

@keyframes moveDiv1 {
    0% {
        transform: translateX(-20%);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20%);
    }
}

@keyframes moveDiv2 {
    0% {
        transform: translateX(-10%);
    }

    50% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(-10%);
    }
}

#question-graphic {
    position: relative;

    .box-1 {
        position: absolute;
        left: 125px;
        top: 59px;

        width: 299px;
        height: 52px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
            display: flex;
            height: 14px;
            gap: 10px;
            width: 200%;
        }

        span {
            height: 100%;
            background-color: white;
            display: block;
        }

        div:nth-child(1) {
            animation: moveDiv1 5s infinite linear;

            span:nth-child(1) {
                width: 175px;
            }

            span:nth-child(2) {
                width: 150px;
            }

            span:nth-child(3) {
                width: 75px;
            }
        }

        div:nth-child(2) {
            animation: moveDiv2 5.6s infinite linear;

            span:nth-child(1) {
                width: 150px;
            }

            span:nth-child(2) {
                width: 50px;
            }

            span:nth-child(3) {
                width: 200px;
            }
        }

        div:nth-child(3) {
            animation: moveDiv2 4s infinite linear;

            span:nth-child(1) {
                width: 150px;
            }

            span:nth-child(2) {
                width: 50px;
            }

            span:nth-child(3) {
                width: 75px;
            }

            span:nth-child(4) {
                width: 150px;
            }
        }
    }

    .box-2 {
        position: absolute;
        left: 75px;
        top: 275px;

        width: 299px;
        height: 52px;

        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
            display: flex;
            height: 14px;
            gap: 10px;
            width: 200%;
        }

        span {
            height: 100%;
            background-color: white;
            display: block;
        }

        div:nth-child(1) {
            animation: moveDiv2 5s infinite linear;

            span:nth-child(1) {
                width: 150px;
            }

            span:nth-child(2) {
                width: 200px;
            }

            span:nth-child(3) {
                width: 50px;
            }
        }

        div:nth-child(2) {
            animation: moveDiv1 4.5s reverse infinite linear;

            span:nth-child(1) {
                width: 150px;
            }

            span:nth-child(2) {
                width: 25px;
            }

            span:nth-child(3) {
                width: 75px;
            }

            span:nth-child(4) {
                width: 150px;
            }
        }

        div:nth-child(3) {
            animation: moveDiv1 5.6s infinite linear;

            span:nth-child(1) {
                width: 125px;
            }

            span:nth-child(2) {
                width: 100px;
            }

            span:nth-child(3) {
                width: 175px;
            }
        }
    }
}

header {
    display: flex;
    height: 82vh;
    align-items: center;

    article {
        max-width: 718px;

        h5 {
            color: var(--yellow-doff);
            font-weight: 600;
        }

        h1 {
            line-height: 99px;
            font-weight: bold;
        }

        p {
            font-weight: 500;
        }
    }

    img {
        margin-left: auto;
        max-width: 545px;
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column-reverse;
        margin-top: 150px !important;

        article {
            text-align: center;
            margin-top: 90px;

            h1 {
                line-height: 50px;
            }
        }

        img {
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    }
}

#app {
    display: flex;
    align-items: center;
    gap: 22px;

    h5 {
        color: var(--yellow-doff);
        max-width: 400px;
        margin-right: auto;
    }

    article {
        display: flex;
        gap: 35px;
        padding: 31px 39px;
        background-color: rgba(255, 255, 255, 0.45);
        border-radius: 10px;

        align-items: center;

        div {
            p {
                font-weight: 500;
            }

            h5 {
                color: white;
                line-height: 43px;
            }
        }

        i {
            margin-left: auto;
            font-size: 32px;
        }
    }
}

@media screen and (max-width: 768px) {
    #app {
        display: none;
    }
}

#question {
    margin-top: 128px;

    display: flex;

    article {
        max-width: 650px;
        margin-left: auto;

        h1 {
            color: var(--yellow-doff);
        }

        p {
            margin-top: 38px;
            font-weight: 500;
            line-height: 21px;
        }
    }
}

@media screen and (max-width: 768px) {
    #question {
        flex-direction: column;

        article {
            text-align: center;
            margin-top: 40px;

            h1 {
                font-size: 4.8rem;
            }

            p {
                margin-top: 21px;
            }
        }
    }
}

#needs {
    margin-top: 135px;

    .text {
        max-width: 1080px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    div {
        display: grid;
        gap: 28px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 68px;

        article {
            background-color: var(--blue);
            padding: 30px 40px;
            border-radius: 10px;

            i {
                font-size: 64px;
                color: var(--yellow-doff);
            }

            h6 {
                font-weight: bold;
                margin-top: 33px;
            }

            p {
                font-size: 1.1rem;
                margin-top: 10px;

                strong {
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #needs {
        margin-top: 54px;

        div {
            display: flex;
            flex-direction: column;
            gap: 13px;

            article:nth-child(4),
            article:nth-child(5),
            article:nth-child(6) {
                display: none;
            }
        }
    }
}

#try {
    margin-top: 150px;
    position: relative;
    display: flex;
    gap: 75px;

    .graphic {
        width: 45vw;
        height: 430px;
        background-color: var(--yellow-doff);

        border-radius: 0 215px 215px 0;
    }

    article {
        max-width: 600px;
        margin-left: auto;

        p {
            margin-top: 40px;
        }

        a {
            margin-top: 55px;
            display: block;
            border-radius: 10px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px) {
    #try {
        margin-top: 100px;
        display: block;

        .graphic {
            position: static;

            height: 250px;
            width: 90vw;
        }

        article {
            margin-top: 70px;
            text-align: center;

            p {
                font-size: 1.4rem;
                margin-top: 33px;
            }

            h4 {
                font-size: 2.6rem;
            }
        }

        article a {
            display: none;
        }
    }
}

#welcome {
    margin-top: 128px;
    position: relative;
    padding: 100px 90px 90px;

    background-color: var(--blue);
    border-radius: 15px;
    display: flex;
    overflow: hidden;

    article {
        max-width: 520px;

        p {
            font-size: 1.4rem;
        }

        a {
            margin-top: 18px;
            display: inline-block;
            padding: 28px 50px;
            background-color: white;
            border-radius: 50px;
            font-size: 2.4rem;
            font-weight: bold;
        }
    }

    .graphic {
        position: absolute;
        background-color: var(--yellow-doff);
        max-width: 575px;
        max-height: 575px;
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        right: 75px;
        bottom: -40%;
    }
    .animation {
        width: 100%;
        height: 100%;
        position: relative;
        animation: l11 7s infinite linear;
        border-radius: 50%;
    }
    span {
        position: absolute;
        background-color: var(--yellow-doff);
        width: 50px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        display: block;
    }
    span:nth-child(1) {
        top: calc(100% + 3px);
        left: calc(50% - 25px);
    }
    span:nth-child(2) {
        top: -53px;
        left: calc(50% - 25px);
    }
    span:nth-child(3) {
        top: calc(50% - 25px);
        left: -53px;
    }
    span:nth-child(4) {
        top: calc(50% - 25px);
        right: -53px;
    }
}

@keyframes l11 {
    100% {
        transform: rotateZ(360deg);
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px #fff inset;
    border-radius: 50%;
    position: relative;
    animation: l11 7s infinite;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: calc(100% + 3px);
    left: calc(50% - 12.5px);
    box-shadow: inherit;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    transform-origin: 50% -28px;
    animation: l11 1.5s infinite;
}
.loader:after {
    animation-delay: -0.75s;
}

@media screen and (max-width: 1150px) {
    #welcome {
        align-items: center;
        padding: 16px;
        margin: 30px;

        article {
            p {
                font-size: 0.8rem;
            }

            a {
                font-size: 1rem;
                padding: 11px 24px;
            }
        }

        .graphic {
            position: static;
        }
    }
}

.footer-container {
    background-color: white;
    margin-top: 72px;
}

footer {
    color: black;

    p {
        font-size: 1.6rem;
        font-weight: 600;
    }

    a {
        display: block;
        color: black;
        font-size: 1.2rem;
    }
}

footer.desktop {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 100px;
    padding: 105px 0;

    article:nth-child(1) {
        display: block;
        grid-column: 1 / 4;

        p {
            font-size: 1.2rem;
            font-weight: initial;
        }
    }

    article:nth-child(5) {
        grid-column: 7 / 9;
    }

    strong {
        margin-top: 8px;
        cursor: pointer;
    }

    a:nth-child(2) {
        margin-top: 12px;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    div {
        display: flex;
        justify-content: space-between;

        i {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    footer.desktop {
        display: none;
    }

    footer.mobile {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        gap: 23px;

        p {
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 14.4px;
        }

        div {
            display: flex;
            align-items: center;
            gap: 30px;

            a {
                font-size: 1.2rem;
                font-weight: bold;
            }

            i {
                font-size: 3rem;
            }
        }
    }
}

footer.mobile {
    display: none;
}
